html, body {
    margin:0;
    padding:0;
    overflow: hidden;
}
button, .button {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 100%;
    padding: 0.25em;
    margin: 0.25em;
    text-decoration: none;
    display: inline-block;
}
button:disabled {
    color: darkgray;
    background-color: gray;
}
#overlay {
    position: fixed;
    font-size: 5vh;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#overlay #inner {
    border: 0px solid black;
    background-color: white;
    width: 80vw;
    /*height: 80vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
#overlay #errors-dialog {
    border: 5px solid red;
    background-color: #ffdddd;
    width: 80vw;
    height: 60vh;
    position: absolute;
    overflow: auto;
}
#overlay #errors-dialog li {
    border:0px solid black;
    text-align: left;
    padding: 0.5em;
}
#loading-indicator {
    display: block;
}

#start-button {
    display: none;
}
