html, body {
    padding:0;
    border:0;
    margin: 0;
    font-family: sans-serif;
    --bg: #e6e6e6;
    --fg: #5b5b5b;
    --bd: #909090;
}
button, .button {
    font-size: 100%;
    color: black;
    background-color: white;
}
button:hover, .button:hover {
    background-color: lightblue;
}

.fill {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    min-height: 100%;
}
.grid {
    display: grid;
    grid-template-rows: [top] 2em [middle] 1fr [bottom] 4em [end];
    grid-template-columns: [left] 250px [left-resize] 2px [center] auto [right-resize] 2px [right] 250px;
    padding:0;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: transparent;
}

.grid .left-resize, .grid .right-resize {
    background-color: var(--bd);
    grid-row-start: top;
    grid-row-end: bottom;
    cursor: col-resize;
}

.toolbar {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
    overflow-x: auto;
}

.top {
    grid-row-start:top;
}
.bottom {
    grid-row-start:bottom;
}
.left {
    grid-column-start: left;
}
.right {
    grid-column-start: right;
}
.center {
    grid-column: center/right-resize
}
.middle {
    grid-row:middle/bottom;
}


.grid.hide-left {
    grid-template-columns: [center] auto [right] 400px;
}
.grid.hide-right {
    grid-template-columns: [left] 250px [left-resize] 2px [center] auto;
}
.grid.hide-left .left-resize {
    display: none;
}
.grid.hide-right .right-resize {
    display: none;
}
.grid.hide-left.hide-right {
    grid-template-columns: [center] auto;
}

.grid.hide-left .left {
    display: none;
}
.grid.hide-right .right {
    display: none;
}



.panel {
    background-color: var(--bg);
}
.transparent {
    background-color: transparent;
}
.scroll {
    overflow: auto;
}
.spacer {
    flex:1;
}



.toolbar label {
    vertical-align: bottom;
    line-height: 1.5em;
    padding: 0.25em;
}
.toolbar h3 {
    font-size: 100%;
    margin:0;
}
.toolbar button, button.borderless {
    border-width: 0;
    background-color: transparent;
    color: var(--fg);
}
.toolbar button:hover, button.borderless:hover {
    background-color: var(--fg);
    color: var(--bg);
}
.toolbar button.selected {
    background-color: var(--fg);
    color: var(--bg);
}
.toolbar button:disabled {
    color: var(--bd);
    background-color: transparent;
}
.toolbar button:disabled:hover {
    background-color: transparent;
}

button.run-button.active {
    background-color: red;
}



/* ================= tree table ============== */
.tree-table {
    padding:0;
    margin:0;
    /*width: 400px;*/
}
.tree-table .tree-node {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0.25em;
}

.tree-table .tree-node button {
    padding:0;
    margin:0;
}

.tree-table .tree-node span {
    grid-column: icon;
}
.tree-table .tree-node i {
    grid-column: icon;
}

.tree-table .tree-node b {
    grid-column: name;
}

.tree-table .tree-node.selected {
    background-color: aqua;
}


.prop-sheet {
    padding:0;
    margin:0;
}
.prop-sheet {
    display: grid;
    grid-template-columns: [name]5em [icon] 1em [value]auto [gutter] 2em;
    grid-column-gap: 0.25em;
    padding: 0.25em;
    border: 1px solid black;
    border-width: 0 0 0px 0;
}
.prop-sheet label {
    grid-column-start: name;
    justify-self: right;
    align-self: center;
    font-size: 70%;
}
.prop-sheet .icon {
    grid-column-start: icon;
}
.prop-sheet input, .prop-sheet textarea, .prop-sheet button {
    grid-column-start: value;
    grid-column-end: gutter;
    align-self: center;
}

.prop-sheet li textarea {
    min-height: 5em;
}


ul.popup-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.popup-menu li {
    padding: 0.25em;
    background-color: white;
    color: black;
}
ul.popup-menu li:hover {
    background-color: blue;
    color: white;
}

.popup-menu {
    border: 1px solid darkgrey;
    padding: 0;
    background-color: white;
    align-items: stretch;
}
.popup-menu button {
    background: white;
    border: 0px solid black;
    text-align: left;
    margin:0;
    padding: 0.25em 0.5em;
}
.popup-menu button:hover {
    background: aqua;
}
.popup-menu > div {
    background-color: white;
    padding: 0.25em;
}
.popup-menu > div:hover {
     background-color: lightblue;
}
.popup-menu .divider {
    border: 1px solid lightgray;
    border-width: 1px 0 0 0;
    padding:0;
    margin: 0.25em;
}
.popup-menu .divider:hover {
    background-color: inherit;
}

svg rect.bg {
    fill: #aaccff;
 }
svg rect.header-bg {
    fill: #aaddff;
    pointer-events: none;
}
svg circle {
    fill:white;
    stroke: black;
    stroke-width: 1px;
}
circle.handle:hover {
    stroke: yellow;
}
circle.handle.connected {
    fill:orange;
}
circle.handle.connected:hover {
    fill:red;
}

svg path.connection-line {
    stroke: orange;
    /*stroke-width: 5px;*/
    pointer-events: none;
    stroke-linecap: round;
}

.node-canvas {
    position: relative;
}

.editable-canvas {
    border: 0px solid black;
    padding:0;
    margin:0;
    width: 100% !important;
    height: 100% !important;
}
.editable-canvas:focus {
    border: 0px solid aqua;
}
rect.selection {
    stroke: #888;
    stroke-width: 3px;
    fill: none;
    pointer-events: none;
}
g.selected > rect.selection {
    stroke: red;

}

.tree-node .drag {
    background-color: transparent;
    border: 1px solid transparent;
    padding:3px;
    margin:0;
}
.tree-node .drag:hover {
    border: 1px solid black;
    background-color: lightblue;
}

.tree-node.drop-target {
    border: 5px solid red;
    border-width: 0px 0 3px 0;
}

.tree-node.drop-target.drop-parent {
    border: 3px solid blue;
}


.node-box {
    background-color: white;
    border: 1px solid red;
    border-width: 0.25em;
    padding: 0;
    margin:0;
    padding-top: 0em;
    display: grid;
    width: 15em;
    grid-template-columns: 1fr 1fr;
}

.node-box h3 {
    background-color: lightblue;
    font-size: 1.5em;
    margin:0;
    padding: 0.25em;
    grid-column: 1/3;
}

.node-box canvas {
    grid-column: 1/3;
    border: 0 solid black;
    border-width: 0.25em 0 0 0;
    padding:0;
    margin:0;
    width: 100%;
}
.node-box ul {
    list-style: none;
    padding:0;
    margin:0;
}
.node-box ul li i {
    padding: 0.25em;
}
.node-box ul.ins {
    padding-right: 1em;
}
.node-box ul.outs {
    padding-left: 1em;
    justify-self: end;
}


.hypercard-card .selected {
    outline: 3px dashed darkorange !important;
}

.hypercard-card.show-bounds > div {
    outline: 1px solid orangered;
}

.node-box .handle {
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid white;
}
.node-box .handle:hover {
    color: orangered;
}
.node-box .handle.connected {
    background-color: #ccffda;
    border-color: black;
}

.hypercard-card .code-block {
    white-space: pre;
}


.scale-editor input[type=number] {
    width: 3em;
}

ul.behaviors-list {
    padding-left: 0;
    list-style: none;
}
ul.behaviors-list > div {
    border: 1px solid red;
    margin: 0.5em 0em;
    padding: 0.25em;
}

/* =============== script editor ============= */

#script-editor {
    z-index: 0;
}


/* =============== leaflet-maps =========== */

.map-icon {
    border: 5px solid red;
}
#mapid {
    z-index: 0;
}

#mapid .leaflet-pane {
    /*z-index: unset;*/
}



/* =============== dialogs ============== */
.ac-dialog-scrim {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(255,255,255,0.8);
    z-index:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ac-dialog-body {
    border: 1px solid darkgray;
    padding: 1rem;
    margin:0;
    position: absolute;
    width: 70vw;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.23);
}