html, body {
    padding:0;
    border:0;
    margin: 0;
    font-family: sans-serif;
    --bg: #e6e6e6;
    --fg: #5b5b5b;
    --bd: #909090;
}
button {
    font-size: 100%;
}

.fill {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.grid {
    display: grid;
    grid-template-columns: [left] 250px [center] auto [right] 400px;
    grid-template-rows: [top] 2em [middle] auto [bottom] 2em;
    padding:0;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: var(--bd);
}

.toolbar {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;
}

.top {
    grid-row-start:top;
}
.bottom {
    grid-row-start:bottom;
}
.left {
    grid-column-start: left;
}
.right {
    grid-column-start: right;
}
.center {
    grid-column: center/right
}
.middle {
    grid-row:middle/bottom;
}


.grid.hide-left {
    grid-template-columns: [center] auto [right] 400px;
}
.grid.hide-right {
    grid-template-columns: [left] 250px [center] auto;
}
.grid.hide-left.hide-right {
    grid-template-columns: [center] auto;
}

.grid.hide-left .left {
    display: none;
}
.grid.hide-right .right {
    display: none;
}



.panel {
    background-color: var(--bg);
}
.scroll {
    overflow: auto;
}
.spacer {
    flex:1;
}



.toolbar label {
    vertical-align: bottom;
    line-height: 1.5em;
    padding: 0.25em;
}
.toolbar h3 {
    font-size: 100%;
    margin:0;
}
.toolbar button, button.borderless {
    border-width: 0;
    background-color: transparent;
    color: var(--fg);
}
.toolbar button:hover, button.borderless:hover {
    background-color: var(--fg);
    color: var(--bg);
}
.toolbar button.selected {
    background-color: var(--fg);
    color: var(--bg);
}



.tree-table li {
    list-style: none;
}
.tree-table {
    margin:0;
    padding-left:0;
}
.tree-table ul {
    margin:0;
    padding-left: 1em;
}

.tree-node {
    padding: 0.25em;
    display: grid;
    grid-template-columns: 2em auto;
}
.tree-node.selected {
    background-color: aqua;
}


.prop-sheet {
    padding:0;
    margin:0;
}
.prop-sheet li {
    display: grid;
    grid-template-columns: [name]6em [value]auto [icon]2em;
    grid-column-gap: 0.25em;
    padding: 0.25em;
    border: 1px solid black;
    border-width: 0 0 0px 0;
}
.prop-sheet li label {
    grid-column-start: name;
    justify-self: right;
}


ul.popup-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.popup-menu li {
    padding: 0.25em;
    background-color: white;
    color: black;
}
ul.popup-menu li:hover {
    background-color: blue;
    color: white;
}