
button, .button {
    background-color: #ddd;
    border: 0px solid black;
    font-size: 100%;
    color: black;
    padding: 0.25rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.25rem;
    margin: 0.25rem 0.5rem;
}
button:hover, .button:hover {
    background-color: #888;
}

.toolbar button {
    width: 1.5rem;
}

.button b {
    padding-left: 0.25rem;
}


.toolbar {
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    border: 0px solid gray;
    border-right-width: 1px;
    align-items: center;
    margin:0;
    padding:0;
}
.toolbar > * {
    margin: 0.25rem;
    box-sizing: border-box;
}
.toolbar label {
    font-weight: bold;
}
.toolbar button {
    border: 0px solid black;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.toolbar input[type='text'] {
    border: 1px solid #888;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.toolbar.gray {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}



.panel {
    height: 100%;
    border: 1px solid #aaa;
    border-width: 0px 1px 0px 0px;
    padding: 0rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


#popup-wrapper {
    background-color: transparent !important;
}

.popup-menu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5em 0;
}

.popup-menu > * {
    border: 1px solid blue;
    border-width: 0 0 0 0;
    text-align: left;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    background-color: white;
    margin:0;
}
.popup-menu > *:hover {
    background-color: aqua;
}

.popup-menu .divider {
    border: 1px solid #ccc;
    border-width: 0 0 2px 0;
}


/*
https://flatuicolors.com/palette/defo
*/
.blue {
    background-color: #3498db;
    color: white;
}
.blue:hover {
    background-color: #2980b9;
}

.green {
    background-color: #2ecc71;
    color: white;
}
.green:hover {
    background-color: #27ae60;
}
.yellow {
    background-color: #f1c40f;
    color: white;
}
.yellow:hover {
    background-color: #f39c12;
}
.gray {
    background-color: #ecf0f1;
    color: #666;
}
.gray:hover {
    background-color: #bdc3c7;
}
.purple {
    background-color: #9b59b6;
    color: white;
}
.purple:hover {
    background-color: #8e44ad;
}


.borderless {
    background: transparent;
    border-width: 0;
}





.console {
    display: flex;
    flex-direction: column;
}

.console .message-log {
    overflow: scroll;
    flex: 1.0;
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.console .message-log li {
    padding: 0.25rem 0.5rem;
}

.console .message-log li b {
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    font-size: 90%;
}

.console .message-log li b.log {
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
}
.console .message-log li b.error {
    border: 1px solid lightpink;
    background-color: lightpink;
}



.map-icon {
    border: 5px solid red;
}
#mapid {
    z-index: 0;
}



